@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

main {
    padding: 16px;
    margin-bottom: 20px;
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

nav {
    border-bottom: solid 1px black;
    padding: 16px;

}

img.veggie-tacos {
    height: 200px;
}

a:hover {
    color: green;
}

a {
    text-decoration: none;
}
